body {
    font-family: Arial, sans-serif;
    background-color: #f2f3f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0456d2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main.product-container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 12px;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    gap: 30px;
}


.product-image {
    flex: 1 1 40%;
    min-width: 280px;
}
.product-image img {
    width: 100%;
    height: 380px;           
    object-fit: cover;        
    border-radius: 12px;
    object-position: center;  
    
}

.product-info {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.product-info h2 {
    font-size: 1.8rem;
    margin: 0 0 10px;
    color: #0078d7;
}

.brand-category {
    background: #f9fafb;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0;
}

.price-stock {
    background: #f9fafb;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0;
}

.description {
    background: #f9fafb;
    padding: 15px;
    border-radius: 8px;
    line-height: 1.5;
    margin: 15px 0;
}

.buyBtn {
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    transition: 0.3s;
}
.buyBtn:hover {
    background-color: #005fa3;
    transform: translateY(-2px);
}

.basket-icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 30px;      
    color: #ffff;       
    cursor: pointer;      
    margin-right: 10px; 
}

.basket-icon:hover {
  color: #000;       
  transform: scale(1.1); 
}


.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}


.popup-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.closeBtn {
    margin-top: 15px;
    padding: 8px 16px;
    background: #ff4747;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buyButton {
    margin-top: 15px;
    padding: 8px 16px;
    background: #7bd342;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 



.logo-picture {
     height: 90px;   
    width: auto;
    position: absolute;
    left: 24px;
}


@media (max-width: 600px) {
    main.product-container {
        flex-direction: column;
        align-items: center;
    }
    .product-info {
        align-items: center;
        text-align: center;
    }
        .buyBtn {
        width: 100%;
    }

        .product-image img {
      height: 260px;
    }
    
    .logo-picture {
        height: 60px;
        left: 12px;
    }
    .title-h1{
         font-size: 20px;    
        line-height: 1.3;
        padding: 0 12px;      
        text-align: center;
        word-break: break-word; 
    }
}
